[Default]
#Username and password for use account on router
userpass=user:pass
#name of Wireguard interface to update ex. tun_wg1
wginf=CHANGME
#name of wireguard peer
wgpeer=CHANGEME
#interface id from pfsense i.e. op1, opt2, opt3
infid=CHANGEME
#Interface description or the name you want to see in pfense i.e. Atlanta
infdescr=CHANGE
#Your routers IP or URL.
rtip=CHANGEME
#Gateway id # - gateways are numbered 0,1,2 so if you have only a wan this would be gateway 1, if you have dual WAN it would be 2.
gateid=CHANGEME
#Python command ONLY CHANGE IF NOT ON Python 3.8
py=python3.8
#PIA Credentials
piausername=CHANGEME
piapassword=CHANGEME
#You can run 'python regions.py' to get a regions list.  i.e. for Atlanta you would put 'US Atlanta'
piaregion=CHANGEME